<div data-options="dxView : { name: 'About', title: 'Kuhusu App hii', pane: 'master' } " >
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
        <div data-bind="dxScrollView: {}">
            <div style="padding: 5px">
                <p style="padding: 5px">
                    Katika App hii, tutamzungumzia zaidi viwavi jeshi aina ya Fall ArmyWorm (Spodoptera frugiperda). Ambapo utajifunza jinsi ya kuwatambua, mzunguko wao wa maisha, athari zao kwenye mazao na namna ya kuwadhibiti
                </p>
                <p style="padding: 5px">
                    App hii ya kitaalamu imeandaliwa mahususi kumsaidia mkulima, afisa ugani na mdau wa kilimo kuweza kumtambua mdudu huyu, dalili mbalimbali na hatimaye kujua wakati na namna sahihi ya kumdhibiti
                </p>
            </div>

            <div class="w3-container w3-responsive" style="padding: 5px">
                <p style="padding: 5px; font-size:medium; font-weight:700">Programu hii imeandaliwa na;</p>

                                <ul class="list-group">
                                  
                                    <li class="list-group-item">
                                        <div style="padding:5px">
                                            <div class="w3-container w3-center" style="padding:5px">
                                                <div class="w3-card-4 w3-center w3-round">
                                                    <img src="images/tpri.png" class="w3-round" alt="Nondo dume" style="width:60%;margin-left:auto " />
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <p><strong>Maneno Chidege</strong>-Mtafiti wa wadudu-TPRI (Tropical Pesticides Research Institute)</p>
                                        <p> Simu: +255755310713</p>
                                        <p> S.L.P 3024 Arusha</p>
                                        <p>baruapepe: mchidege@yahoo.com Au maneno.chidege@tpri.go.tz</p>
                                        <p>Tovuti: www.tpri.go.tz</p>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>Kwa kushirikana na;</strong>
                                    </li>


                                    <li class="list-group-item">
                                        <div style="padding:5px">
                                            <div class="w3-container" style="padding:5px">
                                                <div class="w3-card-4 w3-center w3-round">
                                                    <img src="images/ic_launcher.png" class="w3-round" alt="Nondo dume" style="width:60%" />
                                                   
                                                </div>
                                            </div>
                                        </div>

                                        <p><strong>Edward Sandet</strong>,Mtaalam wa Tehama kutoka Jamii Data</p>
                                        <p>S.L.P 380, Babati</p>
                                        <p>Simu: +255 784 675 425</p>
                                        <p>Baruapepe: jamiidatatz@gmail.com</p>
                                    </li>
                                   
                                </ul>
                           
            </div>

            <div style="padding: 5px">
                <ul class="list-group w3-responsive" style="padding:5px; text-align:justify">
                    <li class="list-group-item">
                        <p style="font-size:large"><strong>REJEA MBALIMBALI</strong></p>
                    </li>
                    <li class="list-group-item">
                        1. Bateman ML, Day RK, Luke B, Edgington S, Kuhlmann U, Cock MJW. Assessment of potential biopesticide options for managing fall armyworm (Spodoptera frugiperda) in Africa. J Appl Entomol. 2018;142:805–819. https://doi.org/10.1111/jen.12565
                    </li>
                    <li class="list-group-item">
                        2. CABI (CAB International). (2018). Crop Protection Compendium. Retrieved from https://www.cabi.org/cpc/
                    </li>
                    <li class="list-group-item">
                        3.	Chidege, M., Hassan, N., Abisgold, J. and Al-Zaidi, S. (2018). Sustainable approach in Biorational management of Tuta absoluta (Lepidoptera: Gelechiidae) in Tanzania. Acta Hortic. 1225, 451-456, DOI: 10.17660/ActaHortic.2018.1225.64
                    </li>
                    <li class="list-group-item">
                        4.	Goergen G, Kumar PL, Sankung SB, Togola A, Tamò M (2016) First Report of Outbreaks of the Fall Armyworm Spodoptera frugiperda (J E Smith) (Lepidoptera, Noctuidae), a New Alien Invasive Pest in West and Central Africa. PLoS ONE 11(10): e0165632. doi:10.1371
                    </li>
                    <li class="list-group-item" style="margin:auto;overflow-wrap:break-word">
                        5.	IITA (2016), First report of outbreaks of the “Fall Armyworm” on the African continent bulletin no. 2330. http://bulletin.iita.org/index.php/2016/06/18/first-report-of-outbreaks-of-the-fall-armyworm-on-the-african-continent/ Accessed on 17/12/2016.
                    </li>
                    <li class="list-group-item">
                        6.	Kenis, M. Marie-Anne Auger-Rozenberg, Alain Roques, Laura Timms, Christelle Pee, Matthew J. W. Cock,Josef Settele, Sylvie Augustin, Carlos Lopez-Vaamonde (2009) Ecological effects of invasive alien insects. Biol. Invasions 11, 21–45.
                    </li>
                    <li class="list-group-item">
                        7.	Murua, M. G., M. T. Vera, S. Abraham, M. L. Ju arez, S. Prieto, G. P. Head, and E.Willinki. 2008. Fitness and mating compatibility of Spodoptera frugiperda (Lepidoptera: Noctuidae) populations from different host plant species and regions in Argentina. Ann. Entomol. Soc. Am. 101: 639–64 9.
                    </li>

                    <li class ="list-group-item" style="margin:auto;overflow-wrap:break-word">
                        8. <div> sawbo (2018) <p style ="font-style:italic">Jinsi ya Kutambua na Kuchunguza Viwavi Jeshi Vamizi</p> 
                        <p>Available at:"https://www.youtube.com/embed/S2oif0UFo5I" (Accessed: 31 August 2019)</p>
                        </div>
                        
                    </li>
                    <li class="list-group-item" style="margin:auto;overflow-wrap:break-word">
                        9. TAETA (2019) <p style="font-style:italic">Utambuzi na udhibiti wa viwavi jeshi vamizi kwenye zao la mahindi</p> Available at:"https://www.youtube.com/embed/oMbzZZ2S9NI" (Accessed: 31 August 2019)
                    </li>
                    <!--<li class="list-group-item">
                        10. dino donald (2018) <p style="font-style:italic">Viwavi jeshi vamizi na bungua vinatesa wakulima Nyawilimila Geita </p> Available at"https://www.youtube.com/embed/u42WBrNmSSk" (Accessed: 31 August 2019)
                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>