<div data-options="dxView : { name: 'madhara', title: 'MADHARA', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;font-size:medium;text-align:justify">
            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Madhara Ya Viwavi Jeshi Kiuchumi, Mazingira na Afya
            </h2>
            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/nondo/madhara.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Shamba lilioathiriwa na Viwavijeshi Vamizi  ©Edward Sandet </p>
                        </div>
                    </div>
                </div>
                <br />
                <p style="padding:0; padding:5px;font-size:medium;">Uvamizi wa wadudu hawa husababisha madhara makubwa kiuchumi, Kiafya na Kimazingira kwenye jamii na taifa kwa ujumla, baadhi ya madhara hayo ni:</p>

                <div style="padding:5px">
                    <p>
                        1. Anaweza sababisha hasara ya 100%.
                    </p>
                    <p>2. Hushambulia hatua zote za ukuaji wa mazao.</p>
                    <p>3. Anaweza kulazimisha kurudia kuotesha upya.</p>
                    <p>4. Matumizi holela ya viuatilifu katika kuwadhibiti Viwavijeshi Vamizi huharibu mazingira,bioanuai na mazao (phytotoxicity</p>
                    <p>5. kuongeza gharama ya uzalishaji.</p>
                    <p>6. Kutokana na utafiti wa CABI (Sept, 2017), bila kuchukua hatua Afrika itapoteza kati ya tani mil. 8.3 na 20.6 (20 – 52%) kwa mwaka, kati ya tani milioni 39 za mahindi inayozalisha. Kwa mfano,Tanzania, kama tunazalisha tani mil. 6 za mahindi. Upotevu wa asilimia 50% ni sawa na tani mil. 3, ambapo tutapata hasara ya takribani TShs. Bil. 900.</p>
                    <p>7. Serikali huweza kutumia bajeti kubwa katika mipango ya kudhibiti visumbufu hivi</p>
                    <p>8. Huweza kusababisha njaa na hatimaye umaskini kwa wakulima na pengine taifa kwa ujumla</p>
                </div>

            </div>
    </div>
</div>
</div>