<div data-options="dxView : { name: 'mashambulizi', title: 'DALILI ZA MASHAMBULIZI', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;font-size:medium;text-align:justify">
            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Dalili za awali
            </h2>
            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/mashambulizi/mashambulizi_awali.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Dalili za awali (matobo yanapoanza)  ©Maneno Chidege </p>
                        </div>
                    </div>
                </div>
                
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/mashambulizi/mashambulizi_awali2.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>
                                Ulaji wa viwavi wadogo  husababisha matobo madogo yenye mwanga kwenye majani yanayoitwa “madirisha.©ARC-VOP/Visser
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/mashambulizi/mashambulizi_awali3.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>
                                Viwavi wadogo wanaweza kuwa na nyuzi ambazo
                                zinaweza kusukumwa na upepo na kuwasafirisha viwavi
                                kutoka mmea mmoja kwenda mmea mwingine.©ARC-VOP/Visser
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Dalili za kati
            </h2>
            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/mashambulizi/mashambulizi_kati.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>
                                Dalili za kati (Matobo zaidi)  ©Maneno Chidege
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Dalili za mwisho
            </h2>
            <div style="padding:5px">
                <div style="padding:5px">
                    <div class="w3-container" style="padding:5px">
                        <div class="w3-card-4" style="width:100%">
                            <img src="images/mashambulizi/mashambulizi_mwisho.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                            <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                                <p>
                                    Dalili za mwisho (Kuingia shinani,kinyesi juu,guzi na mbelewele kutafunwa)  ©Maneno Chidege
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding:5px">
                    <div class="w3-container" style="padding:5px">
                        <div class="w3-card-4" style="width:100%">
                            <img src="images/mashambulizi/mashambulizi_mwisho2.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                            <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                                <p>
                                    Ulaji unaweza kusababisha majani ambayo hayajachanua
                                    na majani ya juu machanga kuwa na matobo mengi,na
                                    majani yaliyochanwachanwa sehemu za pembeni pamoja
                                    na uwepo wa kinyesi cha kiwavi.©ARC-VOP/Visser.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="padding:5px">
                    <div class="w3-container" style="padding:5px">
                        <div class="w3-card-4" style="width:100%">
                            <img src="images/mashambulizi/mashambulizi_mwisho3.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                            <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                                <p>
                                    Viwavi wanapotoboa na kuingia kwenye gunzi, huharibu
                                    punje na husababisha kuoza kwa punje ©CABI.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>
</div>
