<div data-options="dxView : { name: 'mwanzo', title: 'UTANGULIZI ', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;">
            <div style="padding:5px; font-size:medium;text-align:justify">

                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/maize.jpg" class="w3-round" alt="room" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white">
                            <p>Zao la Mahindi</p>
                        </div>
                    </div>
                </div>

                <p style="padding:5px">
                    Mahindi ni zao muhimu sana hapa nchini na afrika kwa ujumla, Watanzania wengi hutumia zao hili kwa chakula na biashara.  Miaka ya hivi karibuni kumetokea uvamizi wa kiwavijeshi vamizi, mdudu ambae amekuwa tishio sio tu katika zao la mahindi bali hata mazao mengine ya nafaka. Matumizi ya viuatilifu tangu alipoingia afrika hususani Tanzania, mnamo march mwaka 2017 yamekuwa holela sana jambo ambalo huongeza gharama za uzalishaji ukiachilia mbali afya ya mazingira na bioanuai. App hii ya kitaalamu imeandaliwa mahususi kumsaidia mkulima, afisa ugani na mdau wa kilimo kuweza kumtambua mdudu huyu, dalili mbalimbali na hatimaye kujua wakati na namna sahihi ya kumdhibiti.
                </p>

                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/nondo/faw-news-large_small.jpg" class="w3-round" alt="room" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white">
                            <p>Kiwavijeshi Vamizi/Kiluilui (larva)</p>
                        </div>
                    </div>
                </div>

                <p style="padding:5px">
                    Viwavijeshi wadudu wageni barani Afrika,asili yao ni bara la Amerika.Wadudu hawa hushambulia mahindi hasa mahindi machanga,lakini pia wana uwezo wa kushambulia mazao mengine kama vile Mtama, Uwele, Mpunga, Ngano, Miwa na hata mimea jamii ya mbogamboga
                </p>
                <!--<p style="padding:5px">
                    Viwavi jeshi wapo wa aina mbili: Viwavijeshi vamizi (Fall ArmyWorm) ambao kitaalam wanaitwa Spodoptera frugiperda. Na Viwavijeshi wa afrika (African Armyworm) ambao nao kitaalam wanitwa Spodoptera exempta. Viwavijeshi hawa wote ni waharibifu kwa mimea na mazao, isipokuwa wanatofautiana katika asili zao, na baadhi ya tabia za ulaji
                </p>-->
                <p style="padding:5px">
                    Katika App hii, tutamzungumzia zaidi viwavijeshi Vamizi aina ya Fall ArmyWorm (Spodoptera frugiperda). Ambapo utajifunza jinsi ya kuwatambua, mzunguko wao wa maisha, athari zao kwenye mazao na namna ya kuwadhibiti.
                </p>
                <p style="padding:5px">
                    App hii ya kitaalamu imeandaliwa mahususi kumsaidia mkulima, afisa ugani na mdau wa kilimo kuweza kumtambua mdudu huyu, dalili mbalimbali na hatimaye kujua wakati na namna sahihi ya kumdhibiti.
                </p>
            </div>

            <div class="dx-swatch-dark">
                <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                    MAELEZO YA AWALI:
                </h2>
            </div>

            <div style="padding:5px">
                <p style="font-size:medium">Majina: Kiswahili:<strong>Kiwavijeshi vamizi</strong> , Kiingereza:<strong>Fall Armyworm (FAW)</strong>  Kitaalamu: <strong style="font-style:italic">Spodoptera frugiperda</strong> </p>

                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/nondo/fallworm.jpg" class="w3-round" alt="room" style="width:100%" />
                        <!--<div class="w3-container w3-center" style="background-color:forestgreen; color:white">
                            <p>Zao la Mahindi</p>
                        </div>-->
                    </div>
                </div>

                <ul style="padding:5px; font-size:medium">
                    <li>• Chimbuko: Ni nondo (moth) vamizi, asie na mipaka (trans-boundary</li>
                    <li>• Asili yake ni Amerika, Argentina na maeneo ya Caribbean (Pogue, 2002)</li>
                    <li>• Hushambulia mimea zaidi ya 80</li>
                    <li>• Hasa nafaka: mahindi, mtama, uwele, mpunga, shayiri, ngano na miwa (Goergen et al., 2016; CABI, 2017). </li>
                </ul>

            </div>
            
        </div>
    </div>
</div>