<div data-options="dxView : { name: 'sambaa', title: 'UVAMIZI USAMBAAJI', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;font-size:medium;text-align:justify">

            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/migration/migration_small.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Uvamizi na Usambaaji Wa Kiwavijeshi Vamizi</p>
                    </div>
                </div>
            </div>
            <p style="padding:5px">
                Viwavijeshi Vamizi,wadudu wageni barani Afrika,asili yao ni bara la Amerika.
            </p>
            <ul style="padding:5px; font-size:medium">
                <li>• Alivamia afrika mwanzoni mwa 2016</li>
                <li>• Nchiza mwanzo kuvamiwa ni Benin, Nigeria, Sao Tome and Principe and Togo</li>
                <li>• Alivamia Tanzania mnamo march, 2017, wilaya ya nkasi, Rukwa</li>
                <li>• Mpaka sasa zaidi ya mikoa 18 imevamiwa Tanzania.</li>
            </ul>
            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/migration/migratio_detected_small.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Sehemu ambazo Viwavijeshi Vamizi wameonekana mwaka 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>