<div data-options="dxView : { name: 'tabia', title: 'TABIA ZA KIWAVIJESHI VAMIZI ', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;">

            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/nondo/Nondo_dume.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Nondo Dume</p>
                    </div>
                </div>
            </div>

            <ul style="padding:5px; font-size:large">
                <li>• Huruka hadi kilomita 100 kwa siku</li>
                <li>• Hutaga mayai hadi 2000 kwenye maisha yake</li>
                <li>• Kipepeo wa kiwavijeshi huweza kuwa na vizazi 6-12 kwa msimu</li>
                <li>• Kiluilui (larva) ndicho hushambulia mimea zaidi na huishi kwa siku  14-28</li>
            </ul>


            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/nondo/Nondo_jike.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Nondo Jike</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>