<div data-options="dxView : { name: 'udhibiti', title: 'UDHIBITI', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;font-size:medium;text-align:justify">

            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/nondo/madhara.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Shamba lilioathiriwa na Viwavijeshi Vamizi  ©Edward Sandet </p>
                        </div>
                    </div>
                </div>
            </div>

            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Uzuiaji
            </h2>
            <ul class="list-group" style="list-style-type:decimal; list-style:decimal">
                <li class="list-group-item">
                    Ni vyema kupanda mimea
                    mapema katika msimu wa mvua,
                    kwa kuwa idadi ya viwavijeshi aina
                    ya 'Fall armyworm' huongezeka
                    baadae katika msimu wakati
                    mimea inapoendelea kukua
                </li>
                <li class="list-group-item">
                    Tahadhari na kupanda mimea
                    yako wakati tofauti tofauti, kwa
                    kuwa hii huwapa fursa viwavijeshi
                    vya aina ya 'Fall armyworm' kuwa
                    na chakula chao kwa mfululizo.
                </li>
                <li class="list-group-item">
                    Panda aina ya mbegu za mahindi
                    zilizoboreshwa na uwezo wa
                    kustahimili viwavijeshi aina ya 'Fall
                    armyworm' kama zitapatikana
                </li>
                <li class="list-group-item">
                    Panda mbegu za mahindi
                    zinazokomaa baada ya
                    muda mfupi
                </li>
                <li class="list-group-item">
                    Hakikisha unatumia mbolea
                    kikamilifu ili upate mahindi
                    bora ambayo yanaweza
                    kustahimili uharibifu
                    unaotokana na wadudu.
                </li>
                <li class="list-group-item">
                    Ondoa magugu katika eneo
                    linalozunguka shamba
                </li>
                <li class="list-group-item">
                    Panda mahindi pamoja na
                    mimea mingine isiyoharibiwa
                    kwa urahisi na wadudu kama
                    vile maharage na mihogo
                </li>
            </ul>

            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Kuchunguza
            </h2>

            <ul class="list-group">
                <li class="list-group-item">
                    Anza kuchunguza mimea yako punde
                    tu miche ya mihindi inapochipuka

                </li>
                <li class="list-group-item">
                    Tafuta dalili za mimea yako
                    kuliwa na Viwavijeshi;
                    <p>
                        1. Ni rahisi kudhibiti Viwavijeshi
                        wakiwa wachanga
                    </p>
                    <p>
                        2.Ni vigumu sana kuwaona
                        Viwavijeshi wakiwa wachanga.
                    </p>
                    <p>
                        3. Tafuta ishara za ulaji uliotekelezwa
                        na viwavijeshi Vamizi aina ya 'Fall
                        armyworm'; pia
                        matawi yenye sehemu zilizo na rangi
                        tofauti na vishimo virefu.
                    </p>
                    <p>
                        4. Tafuta uwepo wa mkusanyiko wa
                        kinyesi cha viwavijeshi hivi aina ya
                        'Fall armyworm' 
                    </p>
                </li>
                <li class="list-group-item">
                    <p style="font-size:large"><strong>Wakati wa kufanya uamuzi:</strong></p>
                    <p>
                        <i class="fa fa-circle" style="font-size:12px;color:red"></i>
                        Wakati mimea ina urefu wa magoti
                        yako au ipo katika hatua ya mapema
                        ya mizingo: chukua hatua muafaka
                        ikiwa utapata zaidi ya asilimia ishirini
                        ya mimea imeharibika
                    </p>


                    <p>
                        <i class="fa fa-circle" style="font-size:12px;color:red"></i>
                        Wakati mimea ina urefu wa mabega
                        yako au ipo katika hatua ya mwisho ya
                        mizingo:Chukua hatua muafaka ikiwa
                        utapata zaidi ya asilimia arobaini ya
                        mizingo imeharibiwa hivi karibuni.
                    </p>
                    <p>
                        <i class="fa fa-circle" style="font-size:12px;color:red"></i>
                        Usinyunyizie viuwa wadudu, wakati
                        mimea ipo katika hatua ya kuota
                        shada na hariri.
                    </p>
                </li>
            </ul>


            <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                Ukaguzi wa Shamba
            </h2>
           
            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4" style="width:100%">
                        <img src="images/udhibiti/trap_small.jpg" class="w3-round" alt="mtego" style="width:100%" />
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p> Mtego (‘pheromone trap')</p>
                        </div>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Utabiri wa kujitokeza kwa viwavi jeshi katika shamba unaweza kugundulika kwa kutumia mtego wenye chemikali za kibaolojia ambao kwa kitaalam unajulikana kama ‘pheromone trap' </p>
                        <br />
                        <p>Kifaa hiki (‘pheromone trap')  ni kontena la plastiki ambalo limepakwa chambo kinachoonyesha kuwepo kwa viwavi jeshi wa kike,  kutoka kwa wadudu jike au wanyama wa kike huvutia wadudu wa kiume . Harufu ya mtego huo ni dalili ya awali inayotumiwa na viwavi jeshi wa kiume kufahamu kuwa ni wakati wa kupanda viwavi jeshi wa kike. </p>
                        <br />
                        <p>Kwa mujibu wa ushahidi uliowekwa kwenye kumbukumbu, viwavi jeshi wa kiume wana uwezo wa kutambua kemikali hizo za kibaolojia katika eneo la mzunguko wa kilomita 10, kutegemena na mwelekeo wa upepo. </p>
                        <br />
                        <p> <strong>Mambo muhimu kuhusu mtego (pheromone trap) </strong></p>
                        <p>Mitego hunasa nondo dume.</p>
                        <p>Weka katikati au pembezoni mwa shamba.</p>
                        <p>Weka mteko mita 1.5 kutoka  ardhini</p>
                        <p> Kagua mtego mara mbili kwa wiki.</p>
                        <p>Ukutapo nondo (5-10) kagua shamba kwa umakini.</p>
                    </li>
                </ul>

                <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                    Vizuio: viuadudu/viuatilifu
                </h2>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p style="font-size:large"><strong>Kuna aina mbalimbali za viambata amalifu vinavyoweza kumdhibiti Kiwavijeshi Vamizi kama ifuatavyo:</strong></p>
                    </li>
                    <li class="list-group-item">
                        Deltamethrin 0.1% + Pirmiphos Methyl 0.4% 
                    </li>
                    <li class="list-group-item">
                        Emamectin Benzoate 40g/Lt + Indoxacarb 160g/Lt
                    </li>
                    <li class="list-group-item">
                        Acetamiprid 64 g/l + emamectin benzoate 48g/l
                    </li>
                    <li class="list-group-item">
                        Emamectin Benzoate 50g/l + Alphacypermethrin 100g/l
                    </li>
                    <li class="list-group-item">
                        Abamectin 10%+ Emmamectin Benzoate 10% 
                    </li>
                    <li class="list-group-item">
                        Lufenuron 100g/Lt + Emmamectin Benzoate 20g/Lt 
                    </li>
                    <li class="list-group-item">
                        Lufenuron 10 g/l + Emamectin Benzoate 40 g/l 
                    </li>
                    <li class="list-group-item">
                        Indoxacarb 85g/lt + Emmamectin Benzoate 20g/Lt 
                    </li>
                    <li class="list-group-item">
                        Profenophos 50% g/l+ Emamectin benzoate 2% g/l
                    </li>

                    <li class="list-group-item">
                        Emmamectin  Benzoate 40g/L + Indoxcarb 160g/L
                    </li>

                    <li class="list-group-item">
                        Emmamectin Benzoate 4% + Indoxicarb  12% 
                    </li>

                    <li class="list-group-item">
                        Thiamethoxam 30g/l + Emamectin benzoate 10g/l 
                    </li>
                    <li class="list-group-item">
                        Lufenuron 400 g/kg + Emamectin-benzoate 100 g/kg
                    </li>
                    <li class="list-group-item">
                        <p style="font-size:large"><strong>Mambo ya kuzingatia katika Udhibiti:</strong></p>
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                        Chagua aina ya viuadudu vilivyothibitishwa na mamlaka husika kuwa na uwezo
                        wa kuvidhibiti Viwavijeshi aina ya 'Fall armyworm'.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                        Weka mchanganyiko sahihi wa maji na viuatilifu (vibandiko) au muuliza afisa ugani.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                        Epuka kuchanganya viuatilifu zaidi ya kimoja kwenye pampu.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                        Ni sharti uvae nguo za kujikinga na madhara yanayotokana na
                        viuwa wadudu. Nguo hizi ni kama vile ovaroli, glavu, kichuja hewa
                        cha usoni na mabuti.
                    </li>
                    <li class="list-group-item">
                        <i class="fa fa-circle" style="font-size:12px;color:green"></i>
                        Tahadhari na kunyunyizia viuwa wadudu vyenye uwezo wa kuua
                        wadudu wengi; kwa kuwa vina uwezo wa kuwaua wadudu walio
                        na manufaa au pia kumdhuru anaye nyunyizia mimea.
                    </li>
                </ul>

            </div>
        </div>
</div>