<div data-options="dxView : { name: 'utambuzi', title: 'UTAMBUZI NA DALILI', pane: 'master' } " class="dx-swatch-dark">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">

        <div data-bind="dxScrollView: {}" style="font-family:sans-serif;font-size:medium;text-align:justify">

            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/utambuzi/nondo_mkubwa.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Kiwavijeshi Vamizi</p>
                    </div>
                </div>
            </div>

            <div class="dx-swatch-dark" Style="padding:5px">
                <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                    Utambuzi-Mayai:
                </h2>

                <div class="w3-row-padding w3-margin-top w3-mobile">
                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/eggs.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Nondo jike hutaga mayai 100-200 kwa mafungu, upande wa chini wa jani. Mayai hubadilika kutoka rangi ya kijani kwenda
                                    rangi ya kahawia iliyofifia kabla ya kuanguliwa.. ©ARC-VOP/Visser
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/mayai_hufunikwa.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">Mayai hufunikwa na magamba yaliyokwanguliwa kutoka kwenye tumbo la nondo jike na Huanguliwa baada ya siku 3-5 katika hali joto ya 20° - 30°C. ©Kansas State University.</p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/mayai_kuanguliwa.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">Baada ya kuanguliwa, viwavi wadogo huanza kula kwenye majani</p>
                            </div>
                        </div>
                    </div>
                </div>


                <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                    Utambuzi-Finye/Katapila/kiwavi:
                </h2>

                <div class="w3-row-padding w3-margin-top w3-mobile">
                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/nondo_mdogo_small.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Wanapokua, viwavi hubadilika kutoka kijani iliyofifia
                                    kwenda rangi ya kahawia. © CABI
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/kwavijeshi_madoa.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Kiwavijeshi vamizi ana madoa meusi manne yanayotengeneza umbo la mraba kwenye pingili ya pili kutoka
                                    sehemu ya nyuma. © CABI/Reeder.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/kiwavi_kchwa.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Kiwavijeshi vamizi ana kichwa cheusi chenye umbo la Y
                                    iliyogeuka kwenye sehemu ya mbele. © CABI/Reeder
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 style="text-align:center; padding:0;margin-bottom:5px; background-color:green;color:white">
                    Utambuzi-Nondo/Pevu:
                </h2>


                <div class="w3-row-padding w3-margin-top w3-mobile">
                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/nondo_mwaribifu.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Wanasababisha uharibifu mkubwa zaidi wanapokuwa na
                                    urefu wa sentimita 3-4. ©Russ Ottens.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/Nondo_tabia.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Nondo dume ana alama mbili za pembetatu katikati na kwenye kingo za mabawa yake ya mbele/juu. ©Maneno Chidege
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="w3-third w3-mobile">
                        <div class="w3-card">
                            <img src="images/utambuzi/buu.jpg" class="w3-round" style="width:100%" />
                            <div class="w3-container" style="background-color:forestgreen">
                                <p style="color:white; font-size:large">
                                    Buu lina rangi ya kahawia inayong’aa na mara nyingi hupatikana kati ya sentimita 2-8 katika udongo.©IPM/Russell
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <p Style="padding:5px">
                Wadudu hawa
                hushambulia mahindi hasa mahindi
                machanga,lakini pia wana uwezo
                wa kushambulia mazao mengine
                kama vile Mtama, Uwele, Mpunga,
                Ngano, Miwa na hata mimea jamii ya
                mbogamboga
            </p>

            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/utambuzi/utambuzi_mahindi.jpg" class="w3-round" alt="Nondo dume" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Uvamizi wa Viwavijeshi Vamizi kwenye mahindi ©J. Crozier, CAB</p>
                    </div>
                </div>
            </div>

            <p style="padding:5px">
                Uharibifu kwenye majani huonekana
                kwa majani yaliyotobolewa na
                kuchanwachanwa karibu sehemu
                yote ya jani. Pia uwepo wa kinyesi
                cha rangi ya kahawia katika sehemu
                ya katikati ya mmea inayokua na
                sehemu ya majani ya juu.
            </p>
            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/utambuzi/utambuzi_mwamzo.jpg" class="w3-round" alt="utambuzi mwanzo" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Ulaji wa awali wa Viwavijeshi Vamizi ©J. Crozier, CAB</p>
                    </div>
                </div>
            </div>

            <p style="padding:5px">
                Ulaji wa awali wa Viwavijeshi Vamizi
                unaweza kufanana na ulaji wa
                Funza wa mabua. Ulaji wa sehemu
                ya katikati ya mmea unaweza
                kusababisha kuharibika kabisa kwa
                mbelewele zinazojitokeza.
            </p>

            <div class="w3-container" style="padding:5px">
                <div class="w3-card-4" style="width:100%">
                    <img src="images/utambuzi/uvamizi_pembeni.jpg" class="w3-round" alt="Uvamizi pembeni" style="width:100%" />
                    <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                        <p>Uvamizi wa Viwavijeshi Vamizi kwenye gunzi ©J. Crozier, CAB</p>
                    </div>
                </div>
            </div>
            <p style="padding:5px">
                Viwavijeshi Vamizi wanaposhambulia
                gunzi, huingia kupitia pembeni
                mwa gunzi na kuanza kula punje za
                mahindi zilizo changa.Hii ni tofauti
                na Funza wa mabua ambao mara
                nyingi huingia katika gunzi kupitia
                upande wa juu au wa chini
            </p>
        </div>
    </div>

</div>