<div data-options="dxView : { name: 'video', title: 'Video Fundishi:Viwavijeshi Vamizi', pane: 'master' } ">
    <div data-options="dxContent : { targetPlaceholder: 'content' } " class="dx-content-background">
        <div data-bind="dxScrollView: {}">




            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4 w3-center" style="width:100%">
                        <iframe src="https://www.youtube.com/embed/S2oif0UFo5I" style="width:100%"></iframe>
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Jinsi ya Kutambua na Kuchunguza Viwavi Jeshi Vamizi ©sawbo </p>
                        </div>
                    </div>
                </div>
            </div>

            <div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4 w3-center" style="width:100%">
                        <iframe src="https://www.youtube.com/embed/oMbzZZ2S9NI" style="width:100%"></iframe>
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Utambuzi na udhibiti wa viwavi jeshi vamizi kwenye zao la mahindi ©TATESA </p>
                        </div>
                    </div>
                </div>
            </div>

         
            <!--<div style="padding:5px">
                <div class="w3-container" style="padding:5px">
                    <div class="w3-card-4 w3-center" style="width:100%">
                        <iframe src="https://www.youtube.com/embed/u42WBrNmSSk" style="width:100%"></iframe>
                        <div class="w3-container w3-center" style="background-color:forestgreen; color:white; font-size:medium">
                            <p>Viwavi jeshi vamizi na bungua vinatesa wakulima Nyawilimila Geita ©dino donald </p>
                        </div>
                    </div>
                </div>
            </div>-->


        </div>
</div>
    </div>
